.MuiTouchRipple-root {
  color: #fff;
}
#basic-button:hover {
  background-color: rgba(255, 255, 255, 0.07);
}
.custom__links {
  display: none !important;
}
@media screen and (max-width: 1000px) {
  .custom__links {
    display: block !important;
  }
}
@media screen and (max-width: 360px) {
  .custom__links {
    font-size: 14px;
    padding: 4px 12px;
  }
}
