.signIn__container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}
.signIn__title {
  text-align: center;
  font-size: 4.8rem;
  margin-bottom: 1rem;
}
.signIn__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.signIn__textField {
  width: 100%;
}
.signIn__btn {
  border-color: #8b4513 !important;
  color: #8b4513 !important;
  transition: background-color 0.3s ease;
}
.signIn__btn:hover {
  border-color: #654321 !important;
  background-color: #ffffff00 !important;
}
