.card {
  width: 30%;
}
.card__link {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-decoration: none;
  padding: 0.5rem;
  transition: border-color 0.3s;
}
.card__link:hover {
  border: 1px solid #fffcf4;
}
.card__img {
  width: 100%;
}
.card__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card__title {
  color: #fffcf4;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card__desc {
  color: #fffcf4;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card__price {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
@media screen and (max-width: 1000px) {
  .admin__CustomCard {
    width: 45% !important;
  }
}
@media screen and (max-width: 900px) {
  .card__title {
    font-size: 16px;
  }
  .card__price {
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  .custom-search-input {
    width: 80% !important;
  }
  .card {
    width: 45%;
  }
  .card__link {
    gap: 1rem;
  }
  .card__text {
    gap: 1rem;
  }
}
@media screen and (max-width: 630px) {
  .card__title {
    font-size: 14px;
  }
  .card__price {
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }
  .admin__CustomCard {
    width: 100% !important;
  }
  .card__link {
    flex-direction: row;
  }
  .card__img {
    width: 45%;
  }
  .card__text {
    width: 45%;
  }
}
