@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Kanit:wght@500&family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  width: 0;
}
header {
  background: #131010;
}
.header__container {
  width: 80%;
  margin: 0 auto;
  padding: 26px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  text-decoration: none;
  color: #ffc436;
  font-size: 32px;
  font-family: "EB Garamond", serif;
}
.header__logo img {
  width: 28px;
}
.header__links {
  display: flex;
  gap: 2rem;
}
.header__link {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.header__btn {
  background-color: #8b4513 !important;
  color: #fff;
  transition: background-color 0.3s ease;
}
.header__btn:hover {
  background-color: #654321 !important;
}
@media screen and (max-width: 1000px) {
  .header__link {
    display: none;
  }
}
