.ourWork {
  background-color: #201a1a;
}
.ourWork__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourWork__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

@media screen and (max-width: 1000px) {
  .ourWork__list {
    gap: 2rem;
  }
  .card__title {
    font-size: 18px;
  }
}
