.signUp__container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}
.signUp__title {
  text-align: center;
  font-size: 4.8rem;
  margin-bottom: 1rem;
}
.signUp__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.signUp__textField {
  width: 100%;
}
.signUp__link {
  font-size: 18px;
}
.signUp__link a {
  text-decoration: none;
  color: #f96666;
}
.signUp__btn {
  border-color: #8b4513 !important;
  color: #8b4513 !important;
  transition: background-color 0.3s ease;
}
.signUp__btn:hover {
  border-color: #654321 !important;
  background-color: #ffffff00 !important;
}
